$font-family-sans-serif: 'Roboto Slab', serif;

$container-max-widths: (
	sm: 420px,
	md: 600px,
	lg: 600px
);

@import 'bootstrap/scss/bootstrap.scss';

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: text-bottom;
}

.icon-github {
	background: url('../assets/icons/github.svg');
}